body {
    font-size: 20;
    background-color:wheat;
}

h1{
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
    color: blueviolet;
}

img {
    width: 30%;
    height: auto;
    display: inline-block;
}